<main class="h-auto bg-gradient-to-r from-[#28001D] via-[#7c3368] to-[#28001D]">
    <section class="flex flex-col md:items-center text-center items-center md:flex-row p-[10px] md:justify-start md:p-[50px]">
        <img src="../../assets/images/Icon-removebg-preview.png" alt="Icon">
        <section>
            <h1 class="font-Inika font-medium text-[#B4B4B4] text-[30px]">Gallery</h1>
            <img src="../../assets/images/UmagresiText.png" alt="CoolTextebu" class="h-[4vh] my-[10px]">
        </section>
    </section>
    <section>
        <marquee behavior="scroll" direction="left" scrollamount="10"><img src="../../assets/images/UmagresiText.png" alt="Text" class="h-[3vh]"></marquee>
    </section>
    <section class="flex flex-wrap p-[10px] inline-flex my-[20px] justify-center w-full items-center">

        <section class="flex flex-wrap p-[10px] inline-flex my-[20px] justify-center w-full items-center">
            <img src="../../assets/myPhotos/2B4FEEBD-A738-4599-AD7D-DA4AA085C358_1_105_c.jpeg" alt="mevares" class="m-[30px] min-w-[250px] max-w-[250px]">
            <img src="../../assets/myPhotos/esmevarjumberiko.png" alt="mevares" class="m-[30px] min-w-[250px] max-w-[250px]">
            <img src="../../assets/myPhotos/esmevarleopardebtan.png" alt="" class="m-[30px] min-w-[250px] max-w-[250px]">
        </section>
        <section class="flex flex-wrap p-[10px] inline-flex my-[20px] justify-center w-full items-center">
            <img src="../../assets/myPhotos/70B67AFF-B1E5-46A8-BE3D-2FF7F904F5E4_1_105_c.jpeg" alt="mevares" class=" m-[30px]min-w-[250px] max-w-[250px]">
            <img src="../../assets/myPhotos/87715EE5-031D-4E98-BAA6-D519DDDF4E11_1_105_c.jpeg" alt="mevares" class="m-[30px] min-w-[250px] max-w-[250px]">
            <img src="../../assets/myPhotos/D2670F93-6D1F-4414-AD88-D42EF29650FF_1_105_c.jpeg" alt="mevares" class="m-[30px] min-w-[250px] max-w-[250px]">
        </section>
        <section class="flex flex-wrap p-[10px] inline-flex my-[20px] justify-center w-full items-center">
            <img src="../../assets/myPhotos/8AEA477C-0A72-4694-8704-C89847C0C738_1_105_c.jpeg" alt="mevares" class="m-[30px] min-w-[250px] max-w-[250px]">
        <img src="../../assets/myPhotos/66A882F9-D3E7-4AFE-8064-0F7FB1A198FB_1_105_c.jpeg" alt="mevares" class="m-[30px] min-w-[250px] max-w-[250px]">
        </section>

    </section>
</main>