<main class="h-[100vh] bg-[#2C2C2C]">
    <header class="flex justify-center md:justify-between sticky top-0 fixed backdrop-blur-lg">
        <section class="hidden md:flex p-[10px]">
            <img src="../../assets/images/angell-removebg-preview.png" alt="Angel" class="rotate-45 scale-x-[-1] mx-[40px] h-[120px]">
        </section>
        <section class="py-[5px]">
            <a href="../../index.html"><img src="../../assets/images/Icon-removebg-preview.png" alt="Icon" class="responsive h-[12vh]"></a>
        </section>
        <section class="hidden md:flex p-[10px]">
            <img src="../../assets/images/angell-removebg-preview.png" alt="Angel" class="-rotate-45 mx-[40px] h-[120px]">
        </section>
    </header> 
    <section class="py-[10px]">
        <marquee behavior="scroll" direction="left"><img src="../../assets/images/Arabic Text.png" class="w-[80px] md:w-[100px]"></marquee>
    </section>
    <main class="flex flex-col items-center w-full my-[1px]">
        <section class="">
            <img src="../../assets/images/eschemiwings-unscreen.gif" alt="Main Angel" class="h-[35vh] md:h-[37vh]">
        </section>
        <section class="my-[20px] text-center">
            <ul>
                <a href="" routerLink="/Gallery" routerLinkActive="active" class="text-[40px] text-white font-Nightshade my-[10px] hover:text-[#cccccc]">Gallery</a>
                <a href="" routerLink="/churchxela" routerLinkActive="active"><img src="../../assets/images/cooltext.png" alt="CoolText" class="h-[3vh] md:text-[5vh] my-[10px]"></a>
            </ul>
        </section>
    </main>
    <section class="w-full md:min-w-[250px] max-w-[250px] flex flex-col justify-center rounded mx-auto items-center p-[10px] my-[5px]">
        <marquee behavior="scroll" direction="left"><p class="text-red-500 font-Nightshade font-bold text-2xl">Age of Illusion - Die Antwoord</p></marquee>
        <audio controls class="w-full md:min-w-[250px] max-w-[250px] m-[10px] [#2C2C2C]">
            <source src="../../assets/sounds/Y2meta.app - DIE ANTWOORD - AGE OF ILLUSION (Ai VIDEO) (320 kbps).mp3" type="audio/mpeg">
        </audio>
    </section>
    <section class="my-[10px]">
        <marquee behavior="scroll" direction="right"><img src="../../assets/images/Arabic Text.png" alt="Image" class="w-[80px] md:w-[100px]"></marquee>
    </section>
</main>